.DS_Store
4_idxstats_tabulate/idxstats_files/*
4_idxstats_tabulate/.Rproj.user/*
4_idxstats_tabulate/idx_meta_genomecov_wide.txt
4_idxstats_tabulate/idx_meta_genomecov.txt
4_idxstats_tabulate/idx_meta_genomecov_mapped_reads_COI_lysis_corr_wide.txt
4_idxstats_tabulate/idx_meta_genomecov_mapped_reads_COI_lysis_corr_wide.xlsx
4_idxstats_tabulate/.Rhistory
